.button {
  color: $color-white;
  background-color: $color-green;
  border: none;
  font-family: $font-heading;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

}

.button--green {
  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3)
  }
}