.catalog-list__container {
	@media (min-width: $tablet-width) {
		display: grid;
		grid-template-columns: 1fr 1fr;
    gap: 60px;
  }  
	
	@media (min-width: $desktop-width) {
		display: grid;
    column-gap: 80px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
  }     
}

.catalog-list__item {
	position: relative;
	
	@media (max-width: $mobile-width-only) {
    &::before {
      position: absolute;
      width: 100vw;
      height: 1px;
      content: "";
      left: calc(-50vw + 50%);
      background: #ebebeb;
    }

    &:last-of-type::after {
      position: absolute;
      width: 100vw;
      height: 1px;
      content: "";
      left: calc(-50vw + 50%);
      bottom: 0;
      background: #ebebeb;
    }
	}
            
}