.page-main__title {
  color: $color-black;
  font-family: $font-heading;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

	@media (min-width: $tablet-width) {
		font-size: 60px;
		line-height: 60px;
	}
} 

.page-main__title--catalog {
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
		padding-top: 64px;
  	padding-bottom: 82px;
	}

  @media (min-width: $desktop-width) {
		padding-top: 74px;
  	padding-bottom: 84px;
	}
}

.page-main__title--form {
  padding-top: 27px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
		padding-top: 65px;
  	padding-bottom: 54px;
	}

  @media (min-width: $desktop-width) {
		padding-top: 73px;
  	padding-bottom: 56px;
	}
}


.page-main__subtitle {
  margin-bottom: 39px;
  color: $color-black;
  font-family: $font-heading;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

	@media (min-width: $tablet-width) {
  	margin-bottom: 66px;
		font-size: 20px;
		line-height: 30px;
	}

	@media (min-width: $desktop-width) {
  	margin-bottom: 66px;
	}
}