$font-heading: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

// Colors

$color-black: #000000;
$color-white: #ffffff;
$color-gray-50: #f2f2f2;
$color-gray-100: #eaeaea;
$color-gray-150: #e6e6e6;
$color-gray-180: #dcdcdc;
$color-gray-200: #d9d9d9;
$color-gray-250: #cdcdcd;
$color-gray-300: #bababa;
$color-gray-700: #444444;
$color-gray-850: #222222;
$color-gray-900: #111111;
$color-green: #68b738;
$color-error: #ff8282;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;